/* Accordion start */

.container.accordionSideBorder {
    max-width: 83.34%;
    margin: auto;
}

img.plus-icon {
    padding: 40px;
    background: var(--secondary-color);
}

img.minus-icon {
    display: none;
    padding: 53px 40px;
    background-color: var(--tertiary-color);
}

.accordionTitleWithImg-col-1 {
    width: 480px;
    margin-left: 70px;
    margin-top: 80px;
}

p.accordionPTitle {
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.accordionTitleWithImg {
    display: flex;
    position: relative;
    /* top: 80px; */
    /* column-gap: 204px; */
}

.accordionTitleWithImg-col-2 {
    margin-left: 17%;
    position: relative;
    top: 80px;
}

h2.accordionTitle {
    margin-bottom: 60px;
}

.padding-border-top-bottom {
    border-bottom: 1px solid var(--light-Blue);
    border-top: 1px solid var(--light-Blue);
}

.paddingBorderBottom {
    border-bottom: 1px solid var(--light-Blue);
}

.padding-border-top {
    position: relative;
}

.padding-border-top{
    border-top: 1px solid var(--light-Blue);
}

img.accordion-outerline-img {
    position: relative;
    z-index: 9;
    width: 100%;
}

.accordion-icon {
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

.accordion-margin {
    /* margin-left: 190px; */
    /* margin-right: 119.5px; */
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
    background: none;
    border-right: 1px solid rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.active,
.accordion:hover {
    background-color: transparent;
    border: none;
}

.accordion:not(.activeAccordion) {
    border-right: 1px solid rgba(0, 0, 0, 0.30);
  }
  
  /* Add this rule to hide the border for active accordions */
  .accordion.activeAccordion {
    border: none;
  }

.panel {
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    margin-left: 150px;
    position: relative;
    bottom: 55px;
}


.accordionColumn-1 {
    width: 48.956%;
    position: relative;
    top: 31px;
}

h5.accordionTitleSpace {
    margin-left: 40px;
}

.accordionLineHeight {
    line-height: 24px;
}

.color-fff {
    color: #fff;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-31 {
    margin-bottom: 31px;
}

.mt-44 {
    margin-top: 44px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-17 {
    margin-bottom: 17px;
}

.pb-30 {
    padding-bottom: 30px;
}

.accordionHrLine {
    border-bottom: 1px solid #fff;
    width: 50%;
    margin-bottom: 30px;
}

.accordion-hr {
    border-bottom: 1px solid #fff;
    width: 80%;
}

.column.accordionTMImg img {
    border-radius: 80px;
}

.column.accordionTMDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.row.noWrap {
    flex-wrap: nowrap;
    column-gap: 54px;
    padding-left: 70px;
}

.panel .column .accordionBannerRighImg img {
    width: 100%;
    height: 100%;
    position: relative;
    /* bottom: 40px; */
}

.container.panel-container {
    border-right: 1px solid #000;
}

.bgImgAccordion.activeBg {
    background: url("../img/Accordion-Bg.jpg") no-repeat;
    background-size: cover;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
    position: relative;
}

.activeTitleSpace{
    color: #fff;
}


@media (max-width: 991.98px) {

    /* .accordion-margin {
        margin-left: 0px;
    } */

    .row.noWrap {
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: center;
        padding: 0;
    }

    .accordionColumn-1 {
        width: 80%;
    }

    #accordion-order-1 {
        order: 1;
    }

    #accordion-order-2 {
        order: 2;
    }

    .accordionTitleWithImg {
        top: 0px;
        flex-direction: column;
    }

    .accordionTitleWithImg-col-2 {
        margin-left: 17%;
        top: 0;
        margin-bottom: 20px;
    }

    .accordionTitleWithImg-col-1{
        width: 100%;
        margin-left: 0px;
    }

    .accordion {
        padding: 0;
    }
}