/* Set the background of the content section with a cover image */
.animationSection {
    position: relative;
    background: url(../img/animationBg.png) no-repeat;
    background-size: cover;
    margin-bottom: -1px;
}

/* Set the background of the video section with a cover image and define its height */
.videoSection {
    position: relative;
    background: url(../img/videoBg.png) no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Style for the main content within the video section */
.videoSection .mainContent {
    background: url(../img/mainContentBg.png) no-repeat;
    background-size: cover;
    width: 56.66%;
    margin: auto;
    padding: 100px;
    color: var(--tertiary-color);
}

/* Add padding for spacing at the bottom of the video content */
.videoSection .mainContent .bottomSpace {
    padding-bottom: 30px;
}


/* Style for the main content wrapper within the animation section */
.animationSection .animationAndTextWrapper {
    color: var(--tertiary-color);
    padding-top: 150px;
    padding-bottom: 150px;
    align-items: center;
    column-gap: 8.33%;
}

/* Adjust margin for left content on larger screens within the animation section */
.animationAndTextWrapper .leftAnimation {
    width: 45.83%;
}

/* Adjust margin for right content on larger screens within the animation section */
.animationAndTextWrapper .rightContent {
    width: 40%;
    margin-right: 5.83%;
}

/* Set styling for the image within the left content in the animation section */
.animationAndTextWrapper .leftAnimation img {
    width: 100%;
}

/* Apply italic font style for specific elements */
.italicFont {
    font-style: italic;
    font-weight: 300;
}

.animationSection .rightContent .title {
    text-transform: uppercase;
}

/* Adjust margin and styling for various elements within the right content in the animation section */
.animationAndTextWrapper .rightContent .bottomSpace {
    padding-bottom: 30px;
}

@media (max-width: 1100.98px) {

    /* Style for the main content wrapper within the animation section */
    .animationSection .animationAndTextWrapper {
        padding-top: 120px;
        padding-bottom: 120px;
        column-gap: 7.92%;
    }

    .animationAndTextWrapper .leftAnimation {
        width: 44.05%;
    }

    /* Adjust margin for right content on larger screens within the animation section */
    .animationAndTextWrapper .rightContent {
        width: 43.56%;
        margin-right: 3.75%;
    }

    /* Set the background of the video section with a cover image and define its height */
    .videoSection {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    /* Style for the main content within the video section */
    .videoSection .mainContent {
        width: 63.36%;
        padding: 80px;
    }
}

/* Media query for responsiveness on smaller screens */
@media (max-width: 767.98px) {

    .animationAndTextWrapper .leftAnimation,
    .animationAndTextWrapper .rightContent {
        width: 100%;
        margin-right: 0px;
    }

    .animationAndTextWrapper .leftAnimation {
        padding-bottom: 40px;
    }

    .animationAndTextWrapper .rightContent .bottomSpace {
        padding-bottom: 20px;
    }


    /* Add padding for spacing at the bottom of the video content */
    .videoSection .mainContent .bottomSpace {
        padding-bottom: 20px;
    }

    /* Style for the main content wrapper within the animation section */
    .animationSection .animationAndTextWrapper {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    /* Style for the main content within the video section */
    .videoSection .mainContent {
        width: 100%;
        padding: 40px;
    }

}

/* Media query for responsiveness on even smaller screens */
@media (max-width: 575.98px) {

    .animationSection {
        background: url(../img/animationMobileBg.png) no-repeat;
        background-size: cover;
    }

    .videoSection {
        position: relative;
        background: url(../img/videoMobileBg.png) no-repeat;
        background-size: cover;
    }

}