.heroBanner {
    position: relative;
    background: url(../img/Banner.jpg) no-repeat;
    background-size: cover;
}
.heroContainer {
    max-width: 70.82%;
    margin: auto;
}
.bannerContent{
    /* position: absolute;
    top: 26.6%; */
    padding-top: 15.14%;
    padding-bottom: 8.2%;
}
.bannerContent h1,.bannerContent h6{
    color: var(--tertiary-color);
    margin-bottom: 40px;
}
.bannerContent h6, .buttonWrapper {
    width: 66%;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}
.bannerContent .button, .bannerContent .hyperlink{
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}
.bannerContent .hyperlink{
    margin-left: 40px;
} 

@media (max-width: 991.98px){
    .heroContainer {
        max-width: 100% !important;
    }
    .bannerContent .hyperlink {
        margin-left: 0px;
    }
}
@media (max-width: 767.98px){
    .bannerContent {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .bannerContent h1 {
        font-size: 34px;
        line-height: normal;
    }
    .bannerContent h6 {
        font-size: 24px;
        line-height: normal;
    }
    .bannerContent h6, .buttonWrapper{
        width: 100%;
    }
    
}
@media (max-width: 575.98px){
    
}