header {
    position: relative;
}

.navigation {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    padding: 30px 0;
    transition: transform .8s ease-in-out;
}

header.sticky {
    position: sticky;
    top: 0;
    z-index: 99;
}

header .navigation.nav-down {
    transform: translateY(-100%);
}

header .navigation.nav-up {
    transform: none;
}

header.sticky .navigation {
    background: url(../img/stickyBg.jpg) no-repeat;
    background-size: cover;
}

.logo {
    width: 16.3%;
}

.navbar {
    /* width: 37.25%; */
    width: max-content;
    margin-right: 5.83%;
}

.navigation .row {
    /* column-gap: 40.6%; */
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar nav {
    width: 64%;
}

.navbar-nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    padding-right: 13.3%;
    position: relative;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-item .nav-link {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 500; 
    line-height: var(--line-height-normal);
    color: var(--tertiary-color);
    text-decoration: none;
    cursor: pointer;
}

.nav-item .nav-link.text-decoration {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.nav-item .nav-link:hover {
    font-weight: 800;
}

.nav-item .nav-link::before {
    display: block;
    content: attr(title);
    font-weight: 800;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.dropdownmenu {
    position: absolute;
    left: 0;
    list-style: none;
    margin-top: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}

.nav-item:hover .dropdownmenu  {
    opacity: 1;
    visibility: visible;
}

.dropdown-item {
    border-top: 1px solid rgb(255, 255, 255, .5);
    padding: 10px 7px;
}

.dropdown-item:hover {
    background: rgb(237, 237, 237, .1);
}

.dropdown-item .dropdown-link {
    font-family: 'Inter Tight', sans-serif;
    font-size: var(--font-size-16);
    font-weight: 500;
    line-height: var(--line-height-normal);
    color: var(--tertiary-color);
    letter-spacing: 0.48px;
    text-decoration: none;
}

.dropdown-item .dropdown-link:hover~.dropdown-item {
    background: rgb(237, 237, 237, .1);
}

.searchbox {
    position: relative;
    width: 23.3%;
    margin-left: 8.75%;
}

.searchbox svg {
    position: absolute;
    left: 12px;
    top: 5px;
}

.searchInput {
    background: transparent;
    border-radius: 50px;
    border: 1px solid var(--tertiary-color);
    padding: 7px 17px 7px 41px;
    width: 100%;
    font-size: var(--font-size-16);
    font-weight: 500;
    line-height: var(--line-height-normal);
    color: var(--tertiary-color);
}

.searchInput::placeholder {
    font-size: var(--font-size-16);
    font-weight: 500;
    line-height: var(--line-height-normal);
    color: var(--tertiary-color);
}

.searchInput:focus-visible,
.searchInput:focus {
    outline: none;
}

@media (max-width: 991.98px) {
    .navigation .row{
        align-items: center;
    }
    .navigation {
        padding: 40px 0;
    }

    .hamburger .line {
        width: 30px;
        height: 2px;
        background: var(--tertiary-color);
        margin: 5px auto;
        transition: all 0.8s ease-in-out;

    }

    #navbar {
        display: none;
        width: 100%;
        margin-right: 0;
        padding-top: 100px;
    }

    #hamburger.crossed .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #hamburger.crossed .line:nth-child(2) {
        transform: rotate(45deg) translate(1px, 0px);
    }

    .navbar nav {
        width: 100%;
        margin: auto;
    }

    .nav-item {
        display: block;
        padding-right: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 46px;
    }

    .searchbox {
        width: 34.5%;
        margin: auto;
        margin-top: 118px;
        margin-bottom: 10px;
    }
    
     header.sticky .navigation, header.hamburgerOpened .navigation{   
        background: url(../img/stickyBgMob.jpg) no-repeat;
    }

    header .navigation.navigationOpened .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 40px 0;
        overflow: scroll;
        background: url(../img/stickyBgMob.jpg) no-repeat;
        background-size: cover;
    }

    #mobDataResults .dropdown-arrow {
        position: absolute;
        right: 0;
        top: 0;
    }

    #mobDataResults .dropdown-arrow::before {
        font-size: 36px;
        line-height: normal;
        color: var(--tertiary-color);
        position: absolute;
        top: 0px;
        right: 0;        
        transition: all .8s;
        content: '↓';
    }
    #mobDataResults .dropdown-arrow.upArrow::before {
        content: '↑';
        font-weight: 800;
    }

    .mobDropdownmenu {
        display: none;
        list-style: none;
        border-bottom: 1px solid rgb(255, 255, 255, .5);
    }
    .dropdown-item {
        padding: 16px 0px;
    }
    .nav-item .nav-link:hover {
        font-weight: unset;
    }
    .nav-item .nav-link {
        font-size: var( --line-height-36);
        font-weight: 200;
        line-height: var(--line-height-normal);
        color: var(--tertiary-color);
        text-decoration: none;
    }
    .nav-item.active .nav-link {
        font-weight: 800;
    }
}

@media (max-width: 767.98px) {
    /* .nav-item {
        margin-bottom: 46px;
    }

    .navbar ul li:first-child {
        margin-top: 100px;
    }

    .navbar ul li:last-child {
        margin-bottom: 164px;
    } */

}