
.fontWeight800 {
    font-weight: 800;
}

.imageAndText-EventAnalysis {
    padding-top: 190px;
    padding-bottom: 150px;
    align-items: center;
    column-gap: 11.16%;
    position: relative;
}
.imageAndText-EventAnalysis .rowspace{
    padding-top: 100px;
}
.imageAndText-EventAnalysis .desktopImage {
    display: block;
}

.imageAndText-EventAnalysis .tabImage {
    display: none;
}

.imageAndText-EventAnalysis .leftImage {
    width: 41.75%;
}

.imageAndText-EventAnalysis .rightText {
    width: 41.75%;
    position: absolute; 
    right: 0;
    margin-right: 5.8%;
    padding-top: 40.5px;
    padding-bottom: 40.5px;
}

.imageAndText-EventAnalysis .leftImage .imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imageAndText-EventAnalysis .sideBorder {
    border-right: 1px solid var(--light-Blue);
}

.imageAndText-EventAnalysis .rightText .title {
    color: var(--secondary-color);
    text-transform: uppercase;
}

.imageAndText-EventAnalysis .rightText h4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.imageAndText-EventAnalysis .imageWrapper .image_1 {
    width: 100%
}



.imageAndText-EventAnalysis .shapeCenter {
    left: 0px;
    transform: translate(0%, -50%);
    right: 0;
    margin: auto;
    mix-blend-mode: overlay;

}
.imageAndText-EventAnalysis .leftImgOverlay {
    position: absolute;
    z-index: 0;
    top: 50%;
    
} 



/* Media query for screens up to 991.98px width */
@media only screen and (max-width: 991.98px) {
    .imageAndText-EventAnalysis .leftImage {
        width: 43.56%;
        padding-left: 4.45%;
    }

    .imageAndText-EventAnalysis .image_1 {
        width: 300px;
    }

    .imageAndText-EventAnalysis .rightText {
        width: 41.08%;
        /* right: -13px; */
    }
    .imageAndText-EventAnalysis .rightText h4 {
        padding-top: 20px;
        padding-bottom: 2   0px;
    }

    .imageAndText-EventAnalysis {
        column-gap: 12.17%;
    } 
    .imageAndText-EventAnalysis .imageWrapper .image_1 {
        width: 240px;
        /* position: absolute; */
        /* z-index: -1; */
    }

    .imageAndText-EventAnalysis .leftImgOverlay {
        width: 100%;
        opacity: 0.76;
    }

.imageAndText-EventAnalysis .imageWrapper .image_2 {
    width: 100%;
    position: absolute;
  
}

}

@media (max-width: 767.98px) {


    .imageAndText-EventAnalysis .container {
        border: 0px
    }
    
    .imageAndText-EventAnalysis .row {
        display: flex;
        flex-direction: column;
    }
    .imageAndText-EventAnalysis .image_1 {
        width: 330px;
    }

    .imageAndText-EventAnalysis {
        padding-top: 80px;
        padding-bottom: 80px;
        align-items: center;
        column-gap: 11.16%;
        position: relative;
    }

    .imageAndText-EventAnalysis .leftImage {
        width: 100%;
        order: 1;
        margin-top: 40px;
        margin-left: 0;
        padding: 0;
    }

    .imageAndText-EventAnalysis .rightText {
        width: 100%;
        order: 2;
        position: relative;
        padding-top: 80px;
    }

    .imageAndText-EventAnalysis.leftImage h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .imageAndTextSideBorder {
        border: none;
    }
    .imageAndText-EventAnalysis .imageWrapper .image_1 {
        width: 74%;
     }
     .imageAndText-EventAnalysis .leftImgOverlay {
        width: 93.4%;
        opacity: 0.76;
     }
}