
.fontWeight800 {
    font-weight: 800;
}
.imageAndText-EventAnalysis .leftImage, .rightText {
    width: 47.15%;
}
.imageAndText-EventAnalysis .space {
    column-gap: 5%;
    padding-bottom: 8.3%;
}
.imageAndText-EventAnalysis .image_1 {
     width: 100%;
}
.imageAndText-EventAnalysis .rightText {
    padding-top: 3.82%;
    padding-bottom: 3.82%;
    padding-right: 5.8%;
}

.imageAndText-EventAnalysis .leftImage{
    padding-left: 5.8%;
}
.imageAndText-EventAnalysis .spacing {
    padding-top: 6%;
    padding-bottom: 6%;
}
.imageAndText-EventAnalysis h2 {
    letter-spacing: 1px;
}
 



/* Media query for screens up to 991.98px width */
@media only screen and (max-width: 991.98px) {
    .imageAndText-EventAnalysis .leftImage, .rightText {
        width: 44.92%;
    }

    .imageAndText-EventAnalysis .image_1{
        width: 100%;
    }
    .imageAndText-EventAnalysis .space {
        column-gap: 5%;
        padding-left: 5.8%;
        
        padding-bottom: 8.3%;
        align-items: center;
    }

    .imageAndText-EventAnalysis .rightText h4 {
        padding-top: 20px;
        padding-bottom: 20px;
        
    }

.imageAndText-EventAnalysis .imageWrapper .image_2 {
    width: 100%;
    position: absolute; 
}
}

@media (max-width: 767.98px) {

    .imageAndText-EventAnalysis .container {
        border: 0px
    }
    
    .imageAndText-EventAnalysis .row {
        display: flex;
        flex-direction: column;
    }
    .imageAndText-EventAnalysis .image_1 {
        width: 100%
    }
    .imageAndText-EventAnalysis .rightText {
        padding-top: 0px;
    }

    .imageAndText-EventAnalysis {
        padding-top: 80px;
        align-items: center;
        column-gap: 11.16%;
        position: relative;
    }
    .imageAndText-EventAnalysis .space {
        row-gap: 40px;
        padding-left: 7.7%;
        padding-right: 7.7%;
        padding-bottom: 8.3%;
    }

    .imageAndText-EventAnalysis .leftImage {
        width: 100%;
        order: 1;
        margin-top: 40px;
        margin-left: 0;
        padding: 0;
    }

    .imageAndText-EventAnalysis .rightText {
        width: 100%;
        order: 2;
        position: relative;
    }
}