:root {
    --swiper-navigation-size: 16px !important;
}

.imageAndTextSlider .container {
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--primary-color);
    padding-top: 150px;
    padding-bottom: 150px;
}

.imageAndTextSliderWrapper {
    column-gap: 6.66%;
    margin: 0px 5.83% 0px 5.83%;
    padding-bottom: 100px;
}

.imageAndTextSliderWrapper .left_image {
    width: 41.66%;
}

.imageAndTextSliderWrapper .left_image img {
    width: 100%;
}

.imageAndTextSliderWrapper .rightText {
    width: 40%;
}

.imageAndTextSliderWrapper .rightText .title {
    text-transform: uppercase;
    color: var(--secondary-color);
}

.imageAndTextSlider .rightText .button {
    padding: 12px 22px;
}

.imageAndTextSliderWrapper .rightText .bottomSpace {
    padding-bottom: 30px;
}

.imageAndTextSlider button a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.imageAndTextSlider .swiper-button-next,
.imageAndTextSlider .swiper-button-prev {
    font-weight: 900;
    color: var(--secondary-color);
    cursor: pointer;
    position: absolute;
    width: 16px;
}

.imageAndTextSlider .swiper-button-next {
    right: 40%;
    z-index: 99;
}


.imageAndTextSlider .swiper-button-prev {
    left: 40%;
    z-index: 99;
}

.imageAndTextSlider .swiper-pagination {
    color: var(--secondary-color);
}



.imageAndTextSlider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--secondary-color);
    height: 15px !important;
    width: 15px !important;
}

.imageAndTextSlider .swiper-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.imageAndTextSlider .swiperNavigation {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.swiperNavigation .paginationWrapper {
    position: absolute;
    padding-top: 35px;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .imageAndTextSlider .swiper-button-next {
        right: 38%;
    }

    .imageAndTextSlider .swiper-button-prev {
        left: 38%;
    }
}

/* Media query for screens up to 991.98px width */
@media only screen and (max-width: 991.98px) {
    .imageAndTextSlider .swiper-button-next {
        right: 36%;
    }

    .imageAndTextSlider .swiper-button-prev {
        left: 36%;
    }

}

@media (max-width: 767.98px) {

    :root {
        --swiper-navigation-size: 14px !important;
    }

    .imageAndTextSliderWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageAndTextSlider .container {
        border: none;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .imageAndTextSliderWrapper .left_image {
        width: 100%;
    }

    .imageAndTextSliderWrapper .rightText {
        width: 100%;
    }

    


    .imageAndTextSliderWrapper {
        column-gap: 6.66%;
        margin: 0;
        padding-bottom: 40px;
    }

    .imageAndTextSlider .swiper-button-next {
        right: 30%;
    }

    .imageAndTextSlider .swiper-button-prev {
        left: 30%;
    }

    .imageAndTextSlider .swiper-pagination .swiper-pagination-bullet-active {
        height: 12px !important;
        width: 12px !important;
    }

    .imageAndTextSlider .swiper-pagination .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .imageAndTextSliderWrapper .rightText .bottomSpace {
        padding-bottom: 20px;
    }

    .imageAndTextSlider .swiperNavigation {
        margin-bottom: 8px;
    }
}

@media (max-width: 577px) {
    .imageAndTextSlider .swiper-button-next {
        right: 24%;

    }

    .imageAndTextSlider .swiper-button-prev {
        left: 24%;
    }
}