:root {
    --swiper-navigation-size: 16px !important;
}

.imageAndTextSlider {
    padding-bottom: 150px;
}

.imageAndTextSlider .container {
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--primary-color);
}

.imageAndTextSliderWrapper {
    column-gap: 6.66%;
    margin: 150px 5.83% 0px 5.83%;
    padding-bottom: 100px;
}

.imageAndTextSliderWrapper .left_image {
    width: 41.66%;
}

.imageAndTextSliderWrapper .left_image img {
    width: 100%;
}

.imageAndTextSliderWrapper .rightText {
    width: 40%;
}

.imageAndTextSliderWrapper .rightText .title {
    text-transform: uppercase;
    color: var(--secondary-color);
}

.imageAndTextSlider .rightText .button {
    padding: 12px 22px;
}

.imageAndTextSliderWrapper .rightText .bottomSpace {
    padding-bottom: 30px;
}

.imageAndTextSlider button a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.imageAndTextSlider .swiper-button-next,
.imageAndTextSlider .swiper-button-prev {
    font-weight: 900;
    color: var(--secondary-color);
    cursor: pointer;
    position: absolute;
    width: 16px;
}

.imageAndTextSlider .swiper-button-next {
    right: 44%;
}


.imageAndTextSlider .swiper-button-prev {
    left: 44%;
}

.imageAndTextSlider .swiper-pagination {
    color: var(--secondary-color);
}

.imageAndTextSlider .swiper-pagination span {
    background-color: var(--secondary-color);
    height: 15px;
    width: 15px;
}

.imageAndTextSlider .swiperNavigation {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.swiperNavigation .paginationWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    width: 30%;
}

@media only screen and (max-width: 1200px) {
    .imageAndTextSlider .swiper-button-next {
        right: 42%;
    }

    .imageAndTextSlider .swiper-button-prev {
        left: 42%;
    }
}

/* Media query for screens up to 991.98px width */
@media only screen and (max-width: 991.98px) {

    .imageAndTextSliderWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageAndTextSliderWrapper .left_image {
        width: 90%;
    }

    .imageAndTextSliderWrapper .rightText {
        width: 90%;
    }

    .imageAndTextSliderWrapper {
        margin: 150px 2% 150px 2%;
        padding-bottom: 0px;
    }

    .imageAndTextSlider .swiper-button-next {
        right: 40%;
    }

    .imageAndTextSlider .swiper-button-prev {
        left: 40%;
    }

}

@media (max-width: 767.98px) {
    .imageAndTextSlider .swiper-button-next {
        right: 38%;
    }

    .imageAndTextSlider .swiper-button-prev {
        left: 38%;
    }
}

@media (max-width: 577px) {
    .imageAndTextSlider .swiper-button-next {
        right: 35%;
    }

    .imageAndTextSlider .swiper-button-prev {
        left: 35%;
    }
}