/* Adjusting container style in keyLiveDataMapSection */
.keyLiveDataMapSection{
    position: relative;
    background: url(../img/keyLiveDataBg.jpg) no-repeat;
    background-size: cover; 
}

.keyLiveDataMapSection .container{
    padding-top: 150px;
    padding-left: 70px;
    padding-right: 70px;
    
}
.lineAndMapWrapper{
    justify-content: space-between;
}
.keyLineAndMapSection {
    background-color: var(--tertiary-color);
}
.lineAndMapContainer {    
    padding-left:7.28%;
    padding-right:7.28%;    
}

/* Styling the vertical line */
.lineAndMapWrapper .verticalLine {
    border-left: 1px solid var(--light-Blue);
    position: relative;
}

/* General styling for elements with class "general" */
.lineHeading {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-top: 144px;
    margin-left: 22px;
    width: 48%;
    color: var(--primary-color);
}

/* Styling the verticalLine unordered list */
.verticalLine ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateX(-2%);
}

/* Styling list items in verticalLine */
.verticalLine ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 40px;
    color: var(--primary-color);
}

/* Styling span within list items */
.verticalLine ul li span {
    margin-left: 15px;
}

/* Adjusting margin for the first and last list items */
.verticalLine ul li:first-child {
    margin-top: 36px;
}

.verticalLine ul li:last-child {
    margin-bottom: 148px;
    padding-bottom: 0px;
}

/* Styling liveDataMap in keyLiveDataMapSection */
.keyLiveDataMapSection .liveDataMap {
    width: 41.25%;
    padding-top: 59.38px;
    padding-bottom: 59.38px;
}

.keyLiveData {
    width: 66.66%;
    margin-top:60px;
    padding-bottom: 150px;
    margin-left: 16.66%;
    margin-right: 16.66%;
    color: var(--tertiary-color);
}

.keyLiveData .bottomSpace{
    padding-bottom: 30px;
}

.keyLiveData .button{
    color: var(--tertiary-color);
    border-color:var(--tertiary-color);;
}
/* Styling map_and_info and dataInfo */
.map_and_info {
    display: flex;
}

.dataInfo {
    margin-left: 10%;
}

/* Styling toolTip and toolTip text */
.toolTip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 270px;
    background-color: #EDEDED;
    text-align: center;
    border-radius: 6px;
    padding: 7.5px 15px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-top: 8px;
    margin-left: -60px;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transform: translate(-48%, 0%);
}

.toolTip .toolTipText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 25%;
    margin-top: -5px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: var(--gray-color) transparent transparent transparent;
    transform: rotate(180deg);
}


.toolTip:hover .toolTipText {
    visibility: visible;
}

/* Styling increaseAndDecrease section */
.increaseAndDecrease {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
}

/* Styling increase and decrease buttons */
.increaseAndDecrease .increaseButton {
    background-color: #3754AB;
    color: #ffff;
}

.increaseAndDecrease .decreaseButton {
    color: #3754AB;
    background-color: #ffff;
}

.increaseAndDecrease .increaseButton,
.increaseAndDecrease .decreaseButton {
    width: 60px;
    height: 60px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -52%);
    cursor: pointer;
}


@media only screen and (max-width: 991.98px) {

    .keyLiveDataMapSection .container{
        padding-top: 150px;
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .keyLiveDataMapSection .title {
        padding-top: 100px;
    }

    .keyLiveDataMapSection .headerContent {
        padding-left: 5%;
        padding-right: 5%;
    }

    .keyLiveDataMapSection .liveDataMap {
        width: 100%;
    }

    .lineAndMapWrapper {
        flex-direction: column;
        align-items: center;
    }

    .verticalLine {
        order: 1;
        margin-top: 20px;
        /* Adjust as needed */
        margin-bottom: 20px;
        /* Adjust as needed */
    }

    .verticalLine ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transform: translate(0,-8px);
    }

    .verticalLine ul li {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .verticalLine ul li span {
        padding-top: 10px;
    }

    /* Adjusting margin for the first and last list items */
    .verticalLine ul li:first-child {
        margin-top: 0px;
    }

    .verticalLine ul li:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    /* Styling the vertical line */
    .lineAndMapWrapper .horizontalLine {
        border-top: 1px solid var(--light-Blue);
        position: relative;
    }

    /* Styling the vertical line */
    .lineAndMapWrapper .verticalLine {
        border: none;
    }

    .lineHeading {
        margin-top: 72px;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 100%;
        color: var(--primary-color);
    }

    .keyLiveData {
        width: 80%;
        margin-top:60px;
        padding-bottom: 150px;
        margin-left: 10.66%;
        margin-right: 10.66%;
        color: var(--tertiary-color);
    }

}
