/* Adjusting container style in keyLiveDataMapSection */
.keyLiveDataMapSection {
    position: relative;
    background: url(../img/keyLiveDataBg.jpg) no-repeat;
    background-size: cover;
}

.keyLiveDataMapSection .container {
    padding-top: 150px;
    padding-left: 70px;
    padding-right: 70px;
}

.keyLineAndMapSection {
    background-color: var(--tertiary-color);
}

.keyLineAndMapSection .lineAndMapContainer {
    padding-left: 7.28%;
    padding-right: 7.28%;
}

/* Styling the vertical line */
.keyLineAndMapSection .lineAndMapWrapper .verticalLine {
    border-left: 1px solid var(--light-Blue);
    position: relative;
}

/* General styling for elements with class "general" */
.keyLineAndMapSection .lineHeading {
    display: block;
    margin-top: 144px;
    margin-left: 22px;
    width: 48%;
    color: var(--primary-color);
}

/* Styling the verticalLine unordered list */
.keyLineAndMapSection .verticalLine ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateX(-2%);
}

/* Styling list items in verticalLine */
.verticalLine ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 40px;
    color: var(--primary-color);
}

/* Styling span within list items */
.keyLineAndMapSection .verticalLine ul li span {
    margin-left: 15px;
}

/* Adjusting margin for the first and last list items */
.keyLineAndMapSection .verticalLine ul li:first-child {
    margin-top: 36px;
}

.keyLineAndMapSection .verticalLine ul li:last-child {
    margin-bottom: 148px;
    padding-bottom: 0px;
}

/* Styling liveDataMap in keyLiveDataMapSection */
.keyLiveDataMapSection .liveDataMap {
    width: 41.25%;
    padding-top: 59.38px;
    padding-bottom: 59.38px;
}

.keyLiveData {
    position: relative;
    width: 66.66%;
    margin-top: 60px;
    padding-bottom: 150px;
    margin-left: 16.66%;
    margin-right: 16.66%;
    color: var(--tertiary-color);
}

.keyLiveData .bottomSpace {
    padding-bottom: 30px;
}

.keyLiveData .button {
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    ;
}

/* Styling map_and_info and dataInfo */
.keyLiveData .map_and_info {
    display: flex;
}

.keyLiveData .dataInfo {
    margin-left: 10%;
}

/* Styling toolTip and toolTip text */
.keyLiveData .toolTip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.keyLiveData .toolTip .toolTipText {
    visibility: hidden;
    width: 270px;
    background-color: var(--gray-color);
    text-align: center;
    border-radius: 6px;
    padding: 7.5px 15px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-top: 8px;
    margin-left: -60px;
    color: var(--primary-color);
    transform: translate(-48%, 0%);
}

.keyLiveData .toolTip .toolTipText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 25%;
    margin-top: -5px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: var(--gray-color) transparent transparent transparent;
    transform: rotate(180deg);
}


.keyLiveData .toolTip:hover .toolTipText {
    visibility: visible;
}

/* Styling increaseAndDecrease section */
.keyLineAndMapSection .increaseAndDecrease {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
}


@media only screen and (max-width: 767.98px) {

    .keyLiveDataMapSection .container {
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;

    }

    .keyLiveDataMapSection .title {
        padding-top: 100px;
    }

    .keyLiveDataMapSection .headerContent {
        padding-left: 5%;
        padding-right: 5%;
    }

    .keyLiveDataMapSection .liveDataMap {
        width: 100%;
    }

    .keyLineAndMapSection .lineAndMapWrapper {
        flex-direction: column;
        align-items: center;
    }

    .keyLineAndMapSection .verticalLine {
        order: 1;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .keyLineAndMapSection .verticalLine ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transform: translate(0, -8px);
    }

    .keyLineAndMapSection .verticalLine ul li {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .keyLineAndMapSection .verticalLine ul li span {
        padding-top: 10px;
    }

    /* Adjusting margin for the first and last list items */
    .keyLineAndMapSection .verticalLine ul li:first-child {
        margin-top: 0px;
    }

    .keyLineAndMapSection .verticalLine ul li:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    /* Styling the vertical line */
    .keyLineAndMapSection .lineAndMapWrapper .horizontalLine {
        border-top: 1px solid var(--light-Blue);
        position: relative;
    }

    /* Styling the vertical line */
    .keyLineAndMapSection .lineAndMapWrapper .verticalLine {
        border: none;
    }

    .keyLineAndMapSection .lineHeading {
        margin-top: 72px;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 100%;
        color: var(--primary-color);
    }

    .keyLiveData {
        width: 100%;
        margin-top: 40px;
        padding-bottom: 150px;
        margin-left: 0;
        margin-right: 0;
        color: var(--tertiary-color);
    }

}