/* Set the background of the content section with a cover image */
.contentSection {
    position: relative;
    background: url(../img/leftAndRightContentBg.png) no-repeat;
    background-size: cover;
}

/* Style for the main content wrapper within the content section */
.contentSection .contentWrapper {
    border-left: 1px solid var(--tertiary-color);
    border-right: 1px solid var(--primary-color);
    color: var(--tertiary-color);
    padding: 150px 0%;
    column-gap: 8.33%;
}

/* Style for the left and right content columns */
.contentSection .leftContent,
.contentSection .rightContent {
    width: 45.83%;
}

/* Style for the left content columns */
.contentSection .leftContent {
    padding-left: 5.83%;
}

/* Style for the right content columns */
.contentSection .rightContent {
    padding-right: 5.83%;
}



/* Add padding to specific elements */
.contentSection .leftContent h2,
.contentSection .rightContent h6,
.contentSection .rightContent .mainTitle {
    padding-bottom: 30px;
}

/* Additional styling for certain heading elements */
.contentSection .rightContent h3 {
    padding-bottom: 30px;
}

/* Styling for links in the right content */
.contentSection .rightContent a,
.contentSection .rightContent a {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
}

/* Styling for specific divisions in the right content */
.rightContent .applyDivision,
.rightContent .donationDivision .content {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Styling for horizontal lines in the right content */
.contentSection .rightContent::before,
.contentSection .rightContent .donationDivision .line::before,
.contentSection .rightContent::after {
    border-top: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    content: "";
    width: 100%;
    position: absolute;
}

/* Media query for responsiveness on smaller screens */
@media (max-width: 767.98px) {

    /* Style for the main content wrapper within the content section */
    .contentSection .contentWrapper {
        border: none;
        padding: 80px 0%;
        column-gap: 8.33%;
    }

    /* Add padding to specific elements */
    .contentSection .leftContent h2,
    .contentSection .rightContent h3,
    .contentSection .rightContent .mainTitle {
        padding-bottom: 20px;
    }


    /* Adjust width for left and right content columns on smaller screens */
    .contentSection .leftContent,
    .contentSection .rightContent {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    /* Remove right margin for left content on smaller screens */
    .contentSection .leftContent {
        margin-bottom: 40px
    }

    /* Styling for specific divisions in the right content */
    .rightContent .applyDivision,
    .rightContent .donationDivision .content {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* Styling for horizontal lines in the right content */
    .contentSection .rightContent::before,
    .contentSection .rightContent .donationDivision .line::before,
    .contentSection .rightContent::after {
        width: 100%;
    }

    /* Styling for horizontal lines in the right content */
    .contentSection .rightContent::before,
    .contentSection .rightContent .donationDivision .line::before,
    .contentSection .rightContent::after {
        width: 86.66%;
    }

}