/* Set the background of the content section with a cover image */
.content_section {
    position: relative;
    background: url(../img/left_and_right_content_Bg.png) no-repeat;
    background-size: cover;
}

/* Style for the main content wrapper within the content section */
.content_section .content_wrapper {
    border-left: 1px solid var(--tertiary-color);
    border-right: 1px solid var(--primary-color);
    color: var(--tertiary-color);
    padding: 150px 5.83%;
    column-gap: 8.33%;
}

/* Style for the left and right content columns */
.content_section .left_content,
.content_section .right_content {
    width: 40%;
}

/* Styling for the description in the left content */
.content_section .left_content .left_description {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
}

/* Add padding to specific elements */
.content_section .left_content h2,
.content_section .right_content h6,
.content_section .right_content .mainTitle {
    padding-bottom: 30px;
}

/* Additional styling for certain heading elements */
.content_section .right_content h6 {
    padding-bottom: 30px;
    font-weight: 700;
}

/* Styling for links in the right content */
.content_section .right_content a,
.content_section .right_content a {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
}

/* Styling for specific divisions in the right content */
.right_content .apply_division,
.right_content .donation_division .content {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Styling for horizontal lines in the right content */
.content_section .right_content::before,
.content_section .right_content .donation_division .line::before,
.content_section .right_content::after {
    border-top: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    content: "";
    width: 100%;
    position: absolute;
}

/* Media query for responsiveness on smaller screens */
@media (max-width: 991.98px) {
    
    /* Adjust width for left and right content columns on smaller screens */
    .content_section .left_content,
    .content_section .right_content {
        width: 100%;
    }

    /* Remove right margin for left content on smaller screens */
    .content_section .left_content {
        margin-bottom: 4.16%
    }

    /* Adjust margin for right content on smaller screens */
    .content_section .right_content {
        margin-top: 4.16%
    }

    /* Styling for horizontal lines in the right content */
    .content_section .right_content::before,
    .content_section .right_content .donation_division .line::before,
    .content_section .right_content::after {
        width: 100%;
    }

}