:root {
    --primary-color: #06071b;
    --secondary-color: #3754ab;
    --tertiary-color: #ffffff;
    --gray-color: #ededed;
    --light-Blue: #3b93ea;
    --dark-Grey:rgba(0, 0, 0, 0.30);
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-60: 60px;
    --font-size-40: 40px;
    --line-height-16: 16px;
    --line-height-18: 18px;
    --line-height-20: 20px;
    --line-height-22: 22px;
    --line-height-22-5: 22.5px;
    --line-height-24: 24px;
    --line-height-25: 25px;
    --line-height-27: 27px;
    --line-height-30: 30px;
    --line-height-33: 33px;
    --line-height-34: 34px;
    --line-height-36: 36px;
    --line-height-41: 41px;
    --line-height-48: 48px;
    --line-height-82: 82px;
    --line-height-normal: normal;
}

/* Font Weight 100 */
.fontWeight100 {
    font-weight: 100;
}

/* Font Weight 200 */
.fontWeight200 {
    font-weight: 200 !important;
}

/* Font Weight 300 */
.fontWeight300 {
    font-weight: 400;
}

/* Font Weight 400 */
.fontWeight400 {
    font-weight: 400;
}

/* Font Weight 500 */
.fontWeight500 {
    font-weight: 500;
}

/* Font Weight 600 */
.fontWeight600 {
    font-weight: 600;
}

/* Font Weight 700 */
.fontWeight700 {
    font-weight: 700 !important;
}

/* Font Weight 800 */
.fontWeight800 {
    font-weight: 800 !important;
}

/* Font Weight 900 */
.fontWeight900 {
    font-weight: 900;
}

.textUppercase{
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    max-width: 100%;
    font-family: "Manrope", sans-serif;
    overflow-x: hidden !important;
    color: var(--primary-color);
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

.showDesktop {
    display: block !important;
}

.showTablet {
    display: none !important;
}

.showMobile {
    display: none !important;
}

.hideDesktop {
    display: none !important;
}

.hideMobile {
    display: block !important;
}


.container {
    max-width: 83.34%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

h1 {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-60);
    font-weight: 200;
    line-height: var(--line-height-82);
}

h2 {
    font-family: "Inter Tight", sans-serif;
    font-size: var(--font-size-40);
    font-weight: 700;
    line-height: var(--line-height-48);
}

h3 {
    font-family: "Inter Tight", sans-serif;
    font-size: var(--font-size-24);
    font-weight: 700;
    line-height: var(--line-height-30);
}

h4 {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-24);
    font-weight: 300;
    line-height: var(--line-height-33);
}

h5 {
    font-family: "Inter Tight", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 700;
    line-height: var(--line-height-24);
}

h6 {
    font-family: "Inter Tight", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 300;
    line-height: var(--line-height-24);
}

h1 strong,
h1 b,
h4 strong,
h4 b,
h6 strong,
h6 b {
    font-weight: 800;
}

.title {
    font-family: "Inter Tight", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 800;
    line-height: var(--line-height-22);
}

.hero {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 300;
    line-height: var(--line-height-20);
}

.textBig {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: var(--line-height-25);
}

.mainTitle {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: var(--line-height-24);
}

.mainTitle strong,
.mainTitle b {
    font-weight: 700;
}

.description {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: var(--line-height-24);
}

.description strong,
.description b {
    font-weight: 700;
}

.textMini {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-12);
    font-weight: 400;
    line-height: var(--line-height-16);
}

.infoBubble {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-12);
    font-weight: 400;
    line-height: var(--line-height-20);
}

.button {
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 500;
    line-height: var(--line-height-22);
    color: var(--secondary-color);
    text-transform: capitalize;
    width: 302px;
    margin: auto;
    padding: 14px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
    transition: 1s ease;
    cursor: pointer;
}

.hyperLink {
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 600;
    line-height: var(--line-height-20);
    color: var(--secondary-color);
    text-transform: uppercase;
    margin: auto;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-color);
    transition: 1s ease;
    letter-spacing: 0.32px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1100.98px) {
    .container {
        max-width: 91.8%;
    }

    h1 {
        font-size: 50px;
        line-height: var(--line-height-normal);
    }

    h2 {
        font-size: 36px;
        line-height: var(--line-height-normal);
    }

    h3 {
        font-size: 20px;
        line-height: var(--line-height-normal);
    }

    h4 {
        font-size: 20px;
        line-height: var(--line-height-normal);
    }

    h5 {
        font-size: var(--font-size-18);
        line-height: var(--line-height-24);
    }

    h6 {
        font-size: 18px;
        line-height: 30px;
    }

    .title {
        font-size: 16px;
        line-height: var(--line-height-normal);
    }

    .mainTitle {
        font-size: 14px;
        line-height: 22px;
    }

    .description {
        font-size: 14px;
        line-height: 22px;
    }

    .button {
        font-size: var(--font-size-16);
        line-height: var(--line-height-normal);
    }

    .hyperLink {
        font-size: var(--font-size-16);
        line-height: var(--line-height-normal);
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 87.5%;
        margin: auto;
    }

    .showTablet {
        display: block !important;
    }

    .showDesktop {
        display: none !important;
    }

    .showMobile {
        display: none !important;
    }

    .hideDesktop {
        display: block !important;
    }

    .sectionSpace {
        margin-bottom: 100px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 87.5%;
        margin: auto;
    }

    .showTablet {
        display: none !important;
    }

    .showDesktop {
        display: none !important;
    }

    .showMobile {
        display: block !important;
    }

    .sectionSpace {
        margin-bottom: 80px;
    }

    h1 {
        font-size: 30px;
        line-height: var(--line-height-41);
    }

    h2 {
        font-size: 28px;
        line-height: var(--line-height-34);
    }

    h3 {
        font-size: 20px;
        line-height: var(--line-height-24);
    }

    h4 {
        font-size: 20px;
        line-height: var(--line-height-27);
    }

    h5 {
        font-size: 16px;
        line-height: var(--line-height-22);
    }

    .title {
        font-size: 16px;
        line-height: var(--line-height-20);
    }

    .hero {
        font-size: var(--font-size-18);
        line-height: var(--line-height-30);
    }

    .textBig {
        font-size: var(--font-size-16);
        line-height: var(--line-height-22);
    }

    .mainTitle {
        font-size: var(--font-size-15);
        line-height: var(--line-height-22-5);
    }

    .description {
        font-size: var(--font-size-13);
        line-height: var(--line-height-22);
    }

    .button {
        font-size: var(--font-size-16);
        line-height: var(--line-height-20);
    }

    .hyperLink {
        font-size: var(--font-size-15);
        line-height: var(--line-height-18);
    }
}

@media (max-width: 575.98px) {
    .container {
        max-width: 86.67%;
        margin: auto;
    }
}

@media (min-width: 2000px) {

    body,
    .container,
    header .navigation {
        max-width: 85% !important;
        margin: auto;
    }
}