/* Adjusting container style in liveDataSection */
.liveDataSection .container {
    border-right: 1px solid var(--primary-color);
}

/* Styling title in liveDataSection */
.liveDataSection .title {
    color: var(--secondary-color);
    padding-top: 150px;
}

.liveDataSection .headerContent {
    padding-left: 8.75%;
    padding-right: 8.75%;
}

/* Styling lineAndMapSection */
.lineAndMapSection {
    margin-bottom: 30px;
    position: relative;
}

/* Styling the pseudo-element (::before) for lineAndMapSection */
.lineAndMapSection::before {
    border-top: 1px solid var(--light-Blue);
    color: var(--tertiary-color);
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    /* Adjust the position from the top */
}

/* Styling the border-bottom for lineAndMapSection */
.lineAndMapSection {
    border-bottom: 1px solid var(--light-Blue);
}

/* add bottom space */
.liveDataSection .title,
.liveDataSection h2 {
    padding-bottom: 30px;
}

/* Centering text elements in liveDataSection */
.liveDataSection .title,
.liveDataSection h2,
.liveDataSection h4 {
    text-align: center;
}

/* Additional styling for liveDataSection */
.liveDataSection h4 {
    padding-bottom: 48px;
}

/* Styling lineAndMapWrapper in liveDataSection */
.liveDataSection .lineAndMapWrapper {
    padding-left: 5.83%;
    padding-right: 5.83%;
    column-gap: 16.66%;
    position: relative;
}

/* Styling the vertical line */
.lineAndMapWrapper .verticalLine {
    border-left: 1px solid var(--light-Blue);
    position: relative;
}

/* General styling for elements with class "general" */
.lineHeading {
    display: block;
    margin-top: 144px;
    margin-left: 22px;
    width: 48%;
    color: var(--primary-color);
}

/* Styling the verticalLine unordered list */
.verticalLine ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateX(-2%);
}

/* Styling list items in verticalLine */
.verticalLine ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 40px;
    color: var(--primary-color);
}

/* Styling span within list items */
.verticalLine ul li span {
    margin-left: 15px;
}

/* Adjusting margin for the first and last list items */
.verticalLine ul li:first-child {
    margin-top: 36px;
}

.verticalLine ul li:last-child {
    margin-bottom: 148px;
    padding-bottom: 0px;
}

/* Styling liveDataMap in liveDataSection */
.liveDataSection .liveDataMap {
    width: 41.25%;
    padding-top: 59.38px;
    padding-bottom: 59.38px;
}

/* Styling map_and_info and dataInfo */
.liveDataSection .map_and_info {
    display: flex;
}

.liveDataSection .dataInfo {
    position: absolute;
    top: 42px;
    right: 6%;
}

/* Styling toolTip and toolTip text */
.liveDataSection .toolTip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.liveDataSection .toolTip .toolTipText {
    visibility: hidden;
    width: 270px;
    background-color: var(--gray-color);
    text-align: center;
    border-radius: 6px;
    padding: 7.5px 15px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-top: 8px;
    margin-left: -60px;
    color: var(--primary-color);
    transform: translate(-48%, 0%);
}

.liveDataSection .toolTip .toolTipText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 25%;
    margin-top: -5px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: var(--gray-color) transparent transparent transparent;
    transform: rotate(180deg);
}

.liveDataSection .toolTip:hover .toolTipText {
    visibility: visible;
}

/* Styling increaseAndDecrease section */
.liveDataSection .increaseAndDecrease {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
}

/* Styling increase and decrease buttons */
.liveDataSection .increaseAndDecrease .increaseButton {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.liveDataSection .increaseAndDecrease .decreaseButton {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.liveDataSection .increaseAndDecrease .increaseButton,
.liveDataSection .increaseAndDecrease .decreaseButton {
    width: 60px;
    height: 60px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -52%);
    cursor: pointer;
}


/* Media queries for responsiveness */
@media only screen and (max-width: 1200px) {

    /* Styling lineAndMapWrapper in liveDataSection */
    .liveDataSection .lineAndMapWrapper {
        padding-left: 2%;
        padding-right: 2%;
        position: relative;
    }
}

@media only screen and (max-width: 767.98px) {
    .liveDataSection .title {
        padding-top: 100px;
    }

    /* Adjusting container style in liveDataSection */
    .liveDataSection .container {
        border: none;
    }


    .liveDataSection .headerContent {
        padding-left: 0%;
        padding-right: 0%;
    }

    .lineAndMapSection {
        margin-bottom: 30px;
    }

    /* add bottom space */
    .liveDataSection .title,
    .liveDataSection h2 {
        padding-bottom: 20px;
    }


    .liveDataSection .liveDataMap {
        width: 100%;
    }

    .lineAndMapWrapper {
        flex-direction: column;
        align-items: center;
    }

    .liveDataSection .verticalLine {
        order: 1;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .liveDataSection .verticalLine ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transform: translate(0, -8px);
    }

    .liveDataSection .verticalLine ul li {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .liveDataSection .verticalLine ul li span {
        padding-top: 10px;
    }

    /* Adjusting margin for the first and last list items */
    .liveDataSection .verticalLine ul li:first-child {
        margin-top: 0px;
    }

    .liveDataSection .verticalLine ul li:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    /* Styling the vertical line */
    .liveDataSection .lineAndMapWrapper .horizontalLine {
        border-top: 1px solid var(--light-Blue);
        position: relative;
    }

    /* Styling the vertical line */
    .liveDataSection .lineAndMapWrapper .verticalLine {
        border: none;
    }

    .liveDataSection .lineHeading {
        margin-top: 72px;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 100%;
        color: var(--primary-color);
    }

}