.teamPopup {
  position: relative;
}

.teamPopup .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
}

.teamPopup .popupContent {
  background-color:var(--tertiary-color);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  top: 50%;
  border:none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* max-width: 83.33%; */
  max-width: 69.44%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  transform: translate(0,-50%);
}

.teamPopup .blueCloseIcon{
  display: block;
}

.teamPopup .whiteCloseIcon{
  display: none;
}

.teamPopup .profile {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.teamPopup .userImage {
  padding: 10%;
}

.teamPopup .userImage img{
  width: 100%;
}

.teamPopup .popUpText {
  width: 70%;
  /* padding: 149px 137px 93px 63px; */
  padding: 14.9% 13.7% 9.3% 6.3%;
}

.teamPopup .popUpTextWrapper{
  height: 374px;
  overflow: auto;
}
.teamPopup .info {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  /* padding: 40px 60px 119px 40px; */
  padding: 13.33% 20% 38.33% 13.33%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.teamPopup .bottomSpace {
  margin-bottom: 10px;
}

.teamPopup .info .row {
  align-items: center;
  margin-top: 22px;
}

.teamPopup .info svg {
  margin-right: 5.25px;
}

.close {
  position: absolute;
  right:30px;
  top: 30px;
  cursor: pointer;
}


@media (max-width: 991.98px){

  .teamPopup .profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .teamPopup .userImage {
    width: 50%;
  }

  .teamPopup .info {
    width: 50%;
    top: 0;
    right: 0;
    padding: 10%;
  }

  .teamPopup .popUpText {
    width: 100%;
  }

  .teamPopup .blueCloseIcon{
    display: none;
  }
  
  .teamPopup .whiteCloseIcon{
    display: block;
  }

  .close {
    z-index: 99;
  }
}

@media (max-width: 767.98px){

  .teamPopup .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
  }

  .teamPopup .userImage {
    width: 100%;
  }

  .teamPopup .info {
    width: 100%;
    position: relative;
    padding: 10%;
  }

  .teamPopup .popUpText {
    width: 100%;
  }

  .teamPopup .blueCloseIcon{
    display: block;
  }
  
  .teamPopup .whiteCloseIcon{
    display: none;
  }

  .close {
    z-index: 99;
  }
}