/* .researchList-container {
    width: 60.63%;
    margin-left: 320px;
    margin-right: 199.5px;
} */

.researchList-width {
    width: 66.72%;
    margin: auto;
}

.researchList {
    display: flex;
    margin-bottom: 50px;
}

span.researchList-arrow {
    width: 2.376%;
}

p.researchList-p {
    width: 97.375%;
    text-decoration-line: underline;
    border: none;
    margin: 0;
    text-align: left;
    letter-spacing: 0;
    text-transform: none;
}

.researchList-border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

@media (max-width: 991.98px) {
    span.researchList-arrow {
        width: auto;
    }

    p.researchList-p{
        width: 100%;
    }
}