/*text and image block */
.textandimage {
    padding-top: 190px;
    justify-content: space-between; 
}
.textandimage .column {
    width: 45.9%;
}
.textandimage .content {
    padding-left: 70px;
    padding-top: 53px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.textAndImageSideBorder {
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid var(--light-Blue);
}
.textandimage .content p{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
.textandimage .content h2 {
    
    padding-top: 30px;
    padding-bottom: 30px;
}
.imageWrapper {
    margin: auto;
    position: relative;
}
.bg_image{
    background: transparent !important;
}
img.rightImgOverlay {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
}
.shapeCenter {
    left: -50px;
    transform: translate(0%, -50%);
    right: 0;
    margin: auto;
}
span{
    font-weight: bold;
}
/*Team Slider block */
.teamContent {
    padding-top: 150px;
}
.teamContent h5 {
     color: var(--secondary-color);
     text-align: center;
     font-weight: 800;
}
.teamContent h4 {
    color: var(--primary-color);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}
/* .space {
    column-gap: 57px;
    justify-content: center;
} */
.teamContent .column {
    width: 22%;
}
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container .name {
    visibility: hidden;
     width: 94%; 
    text-align: left;
    position: absolute;
    bottom: -25px; 
    left: 0;
    background-color:var(--secondary-color);
    color: #fff;
    padding: 5px;
    border-radius: 2px;
  }
  .image-container .name.title {
    
    bottom: -50px; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .image-container:hover .name {
    visibility: visible;
  }

  .teamSlider .swiper {
    padding-bottom: 100px;
}
  .teamBorder{
    border-top: 1px solid var(--light-Blue);
    border-bottom: 1px solid var(--light-Blue);
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .teamSlider .swiper-button-prev {
    top: unset;
    bottom: 15px;
    left: 41%;
    height: 16px;
    width: 16px;
    color: var(--secondary-color);
}
.teamSlider .swiper-button-next {
    top: unset;
    bottom: 15px;
    right: 41%;
    height: 16px;
    width: 16px;
    color: var(--secondary-color);
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  .teamSlider .swiper-pagination-bullet
  {
    height: 10px;
    width: 10px;
  }
  .teamSlider .swiper-pagination-bullet-active {
    height: 15px;
    width: 15px;
    background-color: var(--secondary-color);
  }
  /* Team List Block */
  .teamListBlock {
    padding-top: 150px;
  }
  
  .topBorder{
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color) ;
}
.teamListBlock .space {
    column-gap: 57px;
    /* justify-content: center; */
}
.teamListBlock h5 {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 800;
}
.teamListBlock h4 {
   color: var(--primary-color);
   text-align: center;
   padding-top: 30px;
   padding-bottom: 60px;
}
.rowspace {
    margin-top: 125px;
    /* margin-bottom: 125px; */
}

 /* Research Team List Block */
 .researchTeam h3 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 100px;
 }
 .researchTeam .space {
    column-gap: 57px;
    /* justify-content: center; */
}
.imageandtext .title {
    color: var(--secondary-color);
}
.imageandtext .column {
    width: 41%;
}
.spacing {
    padding-top: 30px;
    padding-bottom: 30px;
}
.imageandtext {
     padding-top: 150px; 
    padding-bottom: 150px;
    justify-content: space-between;
}
.imageandtext .title {
    padding-top: 175px;
}
.content-space {
    padding-top: 221px;
}

/* text and image with bg */

.textandimagebg .column {
    width: 41%;
}
.textandimagebg  {
    padding-top: 150px;
    padding-bottom: 150px;
}
.textandimagebg .colspace {
   
    justify-content: space-between;
}

.imageandtextbg  {
    padding-top: 150px;
    padding-bottom: 150px;
}
.textandimagebg.bg-image {
    position: relative;
    background: url(../img/Bg-image.png) no-repeat;
    background-size: cover;
    margin-bottom: -1px;
}
.left-content {
    color: white;
}
.textandimagebg h4 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.textandimagebg .shapeCenter {
    left: 0px;
    transform: translate(0%, -50%);
    right: 0;
    margin: auto;

}
.textandimagebg .rightImgOverlay {
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 0;
}

/* image and text with bg */
.imageandtextbg .row {
    justify-content: space-between;
}
.imageandtextbg .column {
    width: 40%;
}
.imageandtextbg.animation_section {
    position: relative;
    background: url(../img/Bg-2.png) no-repeat;
    background-size: cover;
    margin-bottom: -1px;
}
 img.leftImgOverlay {
    position: absolute;
    top: 50%;
    right: 0;
}
.imageandtextbg .shapeCenter {
    left:25px;
}
.imageandtextbg .content{
    color: #fff;
}
.imageandtextbg .title {
    color: #fff;
}
.regular {
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

/* Event Analysis Block image and text */
.eventAnalysis .column {
    width: 41.7%;
}
.eventAnalysis .row {
    /* padding-top: 150px;
    padding-bottom: 150px; */
    column-gap: 60px;
}
#grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    row-gap: 99px;
    padding-top: 150px;
    padding-bottom: 150px
}
.sideBorder {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.teamSlider .sideBorder {
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}
.content {
    padding-top: 40px;
    padding-bottom: 40px;
}