.textAndImageSection {
    background-color: var(--tertiary-color);
}

/* Styling for the container within textAndImageSection */
.textAndImageSection .container {
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid var(--primary-color);
}

/* Styling for the left text within textAndImageSection */
.textAndImageSection .leftText {
    width: 40%;
    margin: 150px 12.5% 150px 5.83%;
}

/* Styling for the title within leftText */
.textAndImageSection .leftText .title {
    color: var(--secondary-color);
}

/* Styling for the right image within textAndImageSection */
.textAndImageSection .rightImage {
    width: 41.66%;
    position: relative;
}

/* Styling for images within textAndImageSection */
.textAndImageSection img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Styling for adding bottom space */
.bottomSpace {
    padding-bottom: 30px;
}

/* Styling for adding top space */
.textAndImageSection .topSpace {
    margin-top: 33px;
}

/* Media query for screens up to 767.98px width */
@media only screen and (max-width: 767.98px) {

    .textAndImageSection .textAndImageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
    }

    /* Styling for the container within textAndImageSection */
    .textAndImageSection .container {
        border: none;
    }

    /* Further adjustments for smaller screens */
    .textAndImageSection .leftText {
        width: 100%;
        margin: 40px 0 0 0;
        order: 2;
    }

    .textAndImageSection .rightImage {
        width: 100%;
        order: 1;
    }

    .textAndImageSection img {
        position: relative;
    }

    /* Styling for adding top space */
    .textAndImageSection .topSpace {
        margin-top: 27px;
    }

}