.textAndImageSection{
    background-color: var(--tertiary-color);
}

/* Styling for the container within textAndImageSection */
.textAndImageSection .container {
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid var(--primary-color);
}

/* Styling for the left text within textAndImageSection */
.textAndImageSection .leftText {
    width: 40%;
    margin: 150px 12.5% 150px 5.83%;
}

/* Styling for the title within leftText */
.textAndImageSection .leftText .title {
    color: var(--secondary-color);
}

/* Styling for the right image within textAndImageSection */
.textAndImageSection .rightImage {
    width: 41.66%;
    position: relative;
}

/* Styling for images within textAndImageSection */
.textAndImageSection img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Styling for highLight class */
.highLight {
    font-weight: 800;
}

/* Styling for adding bottom space */
.bottomSpace {
    padding-bottom: 30px;
}

/* Styling for adding top space */
.add_top_space {
    padding-top: 30px;
}

/* Media query for screens up to 991.98px width */
@media only screen and (max-width: 991.98px) {

    /* Adjusting layout for smaller screens */
    .textAndImageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .textAndImageSection .leftText {
        width: 48.38%;
        margin: 150px 5.83% 12.5% 5.83%;
    }

    .textAndImageSection .leftText .title {
        color: var(--secondary-color);
    }

    .textAndImageSection .rightImage {
        width: 50.45%;
    }

    .textAndImageSection img {
        position: relative;
    }
}

/* Media query for screens up to 767.98px width */
@media only screen and (max-width: 767.98px) {

    /* Further adjustments for smaller screens */
    .textAndImageSection .leftText {
        width: 62.50%;
        margin: 150px 9.11% 19.53% 9.11%;
    }

    .textAndImageSection .rightImage {
        width: 65.18%;
    }
}
