.textAndImageWithFourGrid {
    background-image: url("../img/impactBlockBg.jpg");
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.textAndImageWithFourGrid .container {
    border-left: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    border-right: 1px solid var(--primary-color);
}

.textAndImageWithFourGrid .textAndImageWrapper {
    padding-top: 106px;
    padding-bottom: 60px;
    column-gap: 12.5%;
}

.textAndImageWithFourGrid .bottomSpace {
    padding-bottom: 30px;
}

.textAndImageWithFourGrid .textAndImageWrapper .leftText {
    width: 40%;
    color: var(--tertiary-color);
    margin-left: 5.83%;
}

.textAndImageWithFourGrid .textAndImageWrapper .rightGraphicImage {
    width: 41.66%;
}

.textAndImageWithFourGrid .textAndImageWrapper .rightGraphicImage img {
    width: 100%;
}

/* grid Block css */
.textAndImageWithFourGrid .container {
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--primary-color);
}

.fourGridBlock .gridBlock {
    padding: 60px 5.83%;
    width: 50%;
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.textAndImageWithFourGrid .leftBorder {
    border-left: 1px solid var(--secondary-color);
}


.fourGridBlock .gridBlock a {
    text-transform: uppercase;
    border-bottom: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    text-decoration: none;
}


@media (max-width: 767.98px) {

    .textAndImageWithFourGrid .textAndImageWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .textAndImageWithFourGrid .textAndImageWrapper {
        padding-top: 80px;
        padding-bottom: 80px;
        column-gap: 12.5%;
    }

    /* grid Block css */
    .textAndImageWithFourGrid .container {
        border: none;
    }

    .textAndImageWithFourGrid .leftBorder {
        border-left: none;
    }

    .textAndImageWithFourGrid .borderBottom {
        border-bottom: 1px solid var(--secondary-color);
    }

    .fourGridBlock .gridBlock {
        padding: 40px 0%;
        width: 50%;
        color: var(--tertiary-color);
        border-top: 1px solid var(--secondary-color);
    }

    .textAndImageWithFourGrid .bottomSpace {
        padding-bottom: 20px;
    }

    .textAndImageWithFourGrid .textAndImageWrapper .leftText,
    .textAndImageWithFourGrid .textAndImageWrapper .rightGraphicImage {
        width: 100%;
    }

    .textAndImageWithFourGrid .leftText {
        order: 2;
        margin-top: 40px;
        margin-left: 0% !important;
    }

    .textAndImageWithFourGrid .rightGraphicImage {
        order: 1;
    }


    .fourGridBlock .gridBlock {
        width: 100%;
    }

}