/*text and image block */
.fontWeight800 {
    font-weight: 800;
}

.textandimage {
    padding-top: 190px;
    padding-bottom: 150px;
    align-items: center;
    /* column-gap: 11.16%; */
    position: relative;
}

.textandimage .desktopImage {
    display: block;
}

.textandimage .tabImage {
    display: none;
}

.textandimage .leftText {
    width: 40%;
}

.textandimage .rightImage {
    width: 43.08%;
    /* background-image: url("../img/Graphic_Bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    /* position: absolute; */
    /* right: 0; */
}

.textandimage .rightImage .imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textandimage .leftText {
    margin-left: 5.83%;
    /* padding-top: 53px; */
}

.textAndImageSideBorder {
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid var(--light-Blue);
}

.textandimage .leftText p {
    color: var(--secondary-color);
    text-transform: uppercase;
}

.textandimage .leftText h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.imageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapper .image_1 {
    /* z-index: -1; */
    position: absolute;
    z-index: -1;
}

.bg_image {
    /* background: transparent !important; */
}

 img.rightImgOverlay {
    position: absolute;
    /* transform: translate(0%, -50%);
    z-index: -1;
    top: 50%;
    right: 0; */
} 



@media (max-width: 1100.98px) {
    .textandimage .leftText {
        width: 43.56%;
        margin-left: 4.45%;
    }

    .textandimage .rightImage {
        width: 41.08%;
        /* right: -13px; */
    }

    .textandimage {
        column-gap: 12.17%;
    }

}

@media (max-width: 767.98px) {
    .textAndImage .row {
        display: flex;
        flex-direction: column;
    }

    .textandimage .leftText {
        width: 100%;
        order: 2;
        margin-top: 40px;
        margin-left: 0;
        padding: 0;
    }

    .textandimage .rightImage {
        width: 100%;
        order: 1;
        position: relative;
    }

    .textandimage .leftText h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .textAndImageSideBorder {
        border: none;
    }
}