.text_and_image_section{
    background-color: var(--tertiary-color);
}

/* Styling for the container within text_and_image_section */
.text_and_image_section .container {
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid var(--primary-color);
}

/* Styling for the left text within text_and_image_section */
.text_and_image_section .left_text {
    width: 40%;
    margin: 150px 12.5% 150px 5.83%;
}

/* Styling for the title within left_text */
.text_and_image_section .left_text .title {
    color: var(--secondary-color);
}

/* Styling for the right image within text_and_image_section */
.text_and_image_section .right_image {
    width: 41.66%;
    position: relative;
}

/* Styling for images within text_and_image_section */
.text_and_image_section img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Styling for high_light class */
.high_light {
    font-weight: 800;
}

/* Styling for adding bottom space */
.bottom_space {
    padding-bottom: 30px;
}

/* Styling for adding top space */
.add_top_space {
    padding-top: 30px;
}

/* Media query for screens up to 991.98px width */
@media only screen and (max-width: 991.98px) {

    /* Adjusting layout for smaller screens */
    .text_and_image_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text_and_image_section .left_text {
        width: 48.38%;
        margin: 150px 5.83% 12.5% 5.83%;
    }

    .text_and_image_section .left_text .title {
        color: var(--secondary-color);
    }

    .text_and_image_section .right_image {
        width: 50.45%;
    }

    .text_and_image_section img {
        position: relative;
    }
}

/* Media query for screens up to 767.98px width */
@media only screen and (max-width: 767.98px) {

    /* Further adjustments for smaller screens */
    .text_and_image_section .left_text {
        width: 62.50%;
        margin: 150px 9.11% 19.53% 9.11%;
    }

    .text_and_image_section .right_image {
        width: 65.18%;
    }
}
