.swiper {
    width: 100%;
    height: 100%;
  }

.three-grid-swiper-block{
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid var(--light-Blue);
}

.column.swiper-grid {
    padding-right: 40px;
    padding-left: 40px;
    border: none;
}

:root {
    --swiper-navigation-size: 16px !important;
}

.threeGridBlockSwiper .swiper-pagination span {
    background-color: var(--secondary-color);
    height: 12px;
    width: 12px;
}

.threeGridBlockSwiper .swiper-button-next,
.threeGridBlockSwiper .swiper-button-prev {
    /* bottom: 0px; */
    font-weight: 900;
    color: var(--secondary-color);
    cursor: pointer;
    position: absolute;
    /* height: 16px; */
    width: 0px;
}

.threeGridBlockSwiper .swiper-button-next{
    right: 44%;
}


.threeGridBlockSwiper .swiper-button-prev {
    left: 44%;
}

.threeGridBlockSwiper .swiper-pagination {
    color: var(--secondary-color);
}

.threeGridBlockSwiper .swiper_navigation {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
}



.swiper_navigation .pagination_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    width: 100%;
}

@media (max-width: 767.98px){
    .threeGridBlockSwiper .swiper-button-next {
        right: 38%;
    }

    .threeGridBlockSwiper .swiper-button-prev {
        left: 38%;
    }
}

@media (max-width: 577px){
    .threeGridBlockSwiper .swiper-button-next {
        right: 35%;
    }

    .threeGridBlockSwiper .swiper-button-prev {
        left: 35%;
    }
}



.swiper-grid-icon{
        padding-right: 40px;
        padding-left: 40px;
        border: none;
    }





.gird-flex {
    display: flex;
}

.gridTitle h3 {
    margin-bottom: 19.5px;
}

.gridDescription p {
    width: 100%;
    margin-bottom: 80px;
}

.column.grid {
    width: 33.333%;
    border-right: 1px solid var(--light-Blue);
    padding-right: 60px;
    padding-left: 60px;
}

.column.grid:nth-child(3) {
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

.column.grid-icon:nth-child(1) {
    width: 33.332%;
    border-right: 1px solid var(--light-Blue);
    padding-right: 75px;
    padding-left: 45px;
}

.column.grid-icon:nth-child(2) {
    width: 33.332%;
    border-right: 1px solid var(--light-Blue);
    padding-right: 60px;
    padding-left: 60px;
}

.column.grid-icon:nth-child(3) {
    width: 33.332%;
    padding-right: 59.5px;
    padding-left: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

.gridLogo {
    margin-top: 81px;
    margin-bottom: 31.5px;
}

.topBottomBorder {
    border-top: 1px solid var(--light-Blue);
    border-bottom: 1px solid var(--light-Blue);
}

.container.threeGridBlock {
    border-left: 1px solid var(--light-Blue);
}

.emptyPaddingBorderBottom  {
    border-bottom: 1px solid var(--light-Blue);
    margin-bottom: 100px;
}

.emptyPaddingBorder {
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid rgba(0, 0, 0, 0.30);
    padding-top: 100px;
}

.gridLink {
    text-align: center;
    border-left: 1px solid var(--light-Blue);
    border-right: 1px solid rgba(0, 0, 0, 0.30);
    padding-top: 30px;
    padding-bottom: 33px;
}

.column.threeGridText:nth-child(1) {
    width: 33.333%;
    padding-left: 70px;
    padding-right: 30px;
    border-right: 1px solid var(--light-Blue);
}

.column.threeGridText:nth-child(2) {
    width: 33.333%;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid var(--light-Blue);
}

.column.threeGridText:nth-child(3) {
    width: 33.333%;
    padding-left: 30px;
    padding-right: 69.5px;
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

.gridDescription-f20 h6 {
    font-weight: 400;
    margin-bottom: 81px;
}

.gridDescription-f20.marginTop-102 {
    margin-top: 102px;
}

.aboutusGridLogo {
    margin-top: 80px;
    margin-bottom: 30px;
}

.aboutusGridDescription {
    width: 100%;
    margin-bottom: 80px;
}


@media (max-width: 1100px) {

    .column.grid {
        padding-right: 45px;
        padding-left: 45px;
    }

    .column.grid-icon:nth-child(1) {
        padding-right: 45px;
        padding-left: 45px;
    }

    .column.grid-icon:nth-child(2) {
        padding-right: 45px;
        padding-left: 45px;
    }

    .column.grid-icon:nth-child(3) {
        padding-right: 45px;
        padding-left: 45px;
    }

    .gridDescription p {
        margin-bottom: 92.5px;
    }

    .gridDescription.explore p {
        margin-bottom: 68.5px;
    }
}


@media (max-width: 991.98px) {

    .column.grid {
        width: 100%;
        border-bottom: 1px solid var(--light-Blue);
    }

    .column.grid-last {
        width: 100%;
        border-bottom: 1px solid var(--light-Blue);
    }

    /* .column.grid-icon:nth-child(1) {
        width: 100%;
        border-bottom: 1px solid var(--light-Blue);
    }

    .column.grid-icon:nth-child(2) {
        width: 100%;
        border-bottom: 1px solid var(--light-Blue);
    }

    .column.grid-icon:nth-child(3) {
        width: 100%;
        border-right: 1px solid var(--light-Blue);
    } */

    .column.threeGridText:nth-child(1) {
        width: 100%;
        border-bottom: 1px solid var(--light-Blue);
    }

    .column.threeGridText:nth-child(2) {
        width: 100%;
        border-bottom: 1px solid var(--light-Blue);
    }

    .column.threeGridText:nth-child(3) {
        width: 100%;
        border-right: 1px solid var(--light-Blue);
    }
}

@media (max-width: 575.98px) {

    .column.grid {
        padding-right: 40px;
        padding-left: 40px;
    }

    .gridDescription p {
        margin-bottom: 40px;
    }

    .gridLogo {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .gridTitle h3 {
        margin-bottom: 15px;
    }


}